body {
	padding: 0;
	margin: 0;
	font-size: 13px;
	background-color: #fff;
}

* {
	box-sizing: border-box;
}

.Container {
	margin: 0 15px;
	padding: 0 15px;
	max-width: 1170px;
	width: 100%;
}

		/* End Of common Styles */

		     /* Header Start */

.Header {
  display: flex;
  height: 56px;
  background-color: #006cb7;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Header .Header-Group  {
  display: flex;
  justify-content: space-between;

}

.Header .Contact a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

.Header .Contact a:hover {
  color: #000;
}

.Header .icon {
  margin: 0 5px;
}

.Header .Nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  font-size: 0.8rem;
}

.Header .Nav a:hover {
  color: #000;
}

          /* Header End */

          /* Header Secondary Start */

.Header-Secondary {
  display: flex;
  height: 0px;
  align-items: flex-start;
  justify-content: center;
}


.Header-Secondary-Group {
  display: flex;
  height: 99px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 6px solid #d3d3d3;
}

.Header-Secondary img {
  width: 18%;
  height: auto;
  padding-left: 15px;
}

.Header-Secondary .Nav a {
  text-decoration: none;
  color: #000;
  padding: 20px;
  font-size: 1.1rem
}

.Header-Secondary .Nav a:hover {
  color: #006cb7;
}

          /* Header Secondary End */

          /* Banner Start */

.Banner {
  display: flex;
  height: 847px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.Banner .Web-Link {
  margin-top: 40px;
}

.Banner .Discription {
  font-size: 1rem;
  margin-top: 40px;
}

          /* Banner End */

          /* Subscription Start */

.Subscription {
  display: flex;
  height: 0px;
  align-items: center;
  justify-content: center;
}

.Subscription-Group {
  display: flex;
  height: 205px;
  background-color: #006cb7;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  color: #fff;
  border-radius: 10px;
  position: relative;

}

.Subscription-Group::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: right top;
  transform: skewY(3deg);
  border-radius: 10px;
}

.Subscription .Discription {
  padding-bottom: 20px;
  font-size: 1.1rem;
}

.Btn.Registration {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.Subscription input {
  height: 40px;
  width: 260px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #006cb7;
  color: #fff;
  padding-left: 20px


}

.Btn.Registration a {
  display: flex;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  height: 40px;
  width: 114px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px
}





